body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.App {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

form label {
    font-weight: bold;
    color: #555;
}

form input,
form select,
form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form input:focus,
form select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

form button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

.drink-list {
    margin-top: 20px;
}

.drink-list h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #007bff;
    text-align: left;
}

.drink-list ul {
    list-style: none;
    padding: 0;
}

.drink-item {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.drink-item:nth-child(odd) {
    background-color: #f2f2f2;
}

.drink-item div {
    flex: 1;
}

.drink-item strong {
    font-size: 1.2rem;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.drink-item span {
    font-size: 0.9rem;
    color: #666;
    margin-top: 5px;
}

.admin-controls {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.edit-button,
.delete-button {
    margin: 0;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    text-align: center;
}

.edit-button {
    background-color: #4CAF50;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #45a049;
}

.delete-button {
    background-color: #f44336;
    transition: background-color 0.3s ease;
}


.delete-button:hover {
    background-color: #d32f2f;
}

.category-filter {
    margin-bottom: 15px;
    text-align: center;
}

.category-filter select {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
